
module my-nml2tpservice 1.0;

require {
	type l2tpd_t;
	type ipsec_mgmt_t;
	class process signull;
}

#============= l2tpd_t ==============
allow l2tpd_t ipsec_mgmt_t:process signull;
